<div class="row content">

  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">


    <%=
        flash_messages @user
    %>


    <%= simple_form_for(@user, html: { :class => 'form-horizontal'} ) do |f| %>

        <div class="page-header">
          <h2>Intersitial lung disease evaluation</h2>
        </div>



<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

    <div class = "row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header">
              <h3>A. How do you diagnose IPF?</h3>
            </div>
        </div>
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
          <div class="field">
          <%= f.collection_radio_buttons :practice, [[1, 'By myself with the aid of diagnostic guidelines'],
                                                 [2, 'Via a face-to-face MDT discussion'],
                                                 [3, 'Through referral to an expert/academic ILD centre']],
                                         :first,
                                         :last,
                                         :item_wrapper_class => 'RadioBlock'%>
          </div>
        </div>
    </div>



<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

        <div class = "row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-header">
                  <h3>B. Your details <br/><small> Please answer all questions</small></h3>
                </div>
            </div>

            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">

              <div class="field">
                <%= f.input :kind, collection: [ "Academic/Researcher", "Pulmonologist (fellowship trained)", "General physician with an interest in pulmonology", "General physician",
                                                 "Thoracic radiologist (fellowship trained)", "General radiologist with an interest in thoracic imaging", "General radiologist",
                                                 "Pulmonary pathologist (fellowship trained)", "General pathologist with an interest in pulmonary pathology", "General pathologist"] , label: "Which best describes your position?", class: 'form-control' %>
              </div><br/>

              <div class="field">
                <%= f.input :experience, collection: 1..50, label: "How many years experience do you have in this role?", class: 'form-control' %>
              </div><br/>

              <div class="field">
                <%= f.input :institute, label: "What is the name of your institution?", class: 'form-control' %>
              </div><br/>

                <div class="field">
                  <%= f.input :institute_type, collection: ["Academic institution", "University hospital", "Non-university hospital" ] , label: "What type of institution is this?", class: 'form-control'%>
                </div><br/>

                <div class="field">
                  <%= f.input :country, as: :country, priority: [ "United Kingdom" ] %>
                </div>

            </div>
        </div>

<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

        <div class = "row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-header">
                  <h3>C. Other MDT participants<br/><small> Please answer all questions. To add a member, click on relevant specialty and add details in the created fields. <b>"Add new participant"</b> is for
                  adding a specialty that's not listed e.g. a geneticist, or ILD nurse. Please give details of this participant in the free text field created when
                    you press <b>"Add new participant"</b></small></h3>
                </div>
            </div>
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 ">


                  <div class="field">
                    <%= f.input :specialist, collection: ["ILD dedicated MDT meeting", "General respiratory MDT meeting", "We don't have a formal respiratory MDT meeting"] , label: "Which best describes your MDT meeting?", class: 'form-control'%>
                  </div><br/>
          </div>

        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 ">

                  <%= f.simple_fields_for :physicians do |physician| %>
                      <%= render 'physician_fields', f: physician %>
                  <% end %>
                  <div class="links">
                    <%= link_to_add_association 'Add physician', f, :physicians, class: "btn btn-primary Component" %>
                  </div>

                  <%= f.simple_fields_for :rads do |rad| %>
                      <%= render 'rad_fields', f: rad %>
                  <% end %>
                  <div class="links">
                    <%= link_to_add_association 'Add radiologist', f, :rads, class: "btn btn-info Component" %>
                  </div>

                  <%= f.simple_fields_for :paths do |path| %>
                      <%= render 'path_fields', f: path %>
                  <% end %>
                  <div class="links">
                    <%= link_to_add_association 'Add pathologist', f, :paths, class: "btn btn-success Component" %>
                  </div>

                  <%= f.simple_fields_for :rheumatologists do |rheumatologist| %>
                      <%= render 'rheumatologist_fields', f: rheumatologist %>
                  <% end %>
                  <div class="links">
                    <%= link_to_add_association 'Add rheumatologist', f, :rheumatologists, class: "btn btn-primary Component" %>
                  </div>

                  <%= f.simple_fields_for :others do |other| %>
                      <%= render 'other_fields', f: other %>
                  <% end %>
                  <div class="links">
                    <%= link_to_add_association 'Add new participant', f, :others, class: "btn btn-info Component" %>
                  </div>


            </div>
        </div>

<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
        <div class = "row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
           <div class="page-header">
            <h3>D. MDT case mix<br/><small> Please answer all questions. Note that there are no default values. If your
            answer is "0" then you must explictly select "0". This is to ensure all questions are considered. "%" means an estimate of
            the proportion of cases seen by your MDT (or you, if you do not have a dedicated MDT) with each diagnosis. </small></h3>
           </div>
          </div>

          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
            <div class = "CaseMixInputs">
                  <div class="field">
                    <%= f.input :schedule, collection: [ "Sporadically", "Daily", "Weekly", "Fortnightly", "Monthly", "Every 2 months", "Every 3 months", "Less frequently than every 3 months"] , label: "Frequency of MDT meeting", class: 'form-control' %>
                  </div>
                  <div class="field">
                    <%= f.input :cases, collection:[ "0-10", "11-20", "21-30", "31-40", "41-50", "51-60", "61-70", "71-80", "81-90", "91-100", ">100"] , label: "Number of new cases of ILD per month (approx)", class: 'form-control' %>
                  </div>
                 <div class="field">
                    <%= f.input :ipf, collection: [ "0-10", "11-20", "21-30", "31-40", "41-50", "51-60", "61-70", "71-80", "81-90", "91-100", ">100"] , label: "Number of new cases of IPF per month (approx)", class: 'form-control' %>
                  </div>
                  <div class="field">
                    <%= f.input :biopsy, collection: 0..100, label: "Percentage of patients biopsied (approx)", class: 'form-control' %>
                  </div>
                  <div class="field">
                    <%= f.input :cryobiopsy, collection: ["Yes", "No"], label: "Availability of cryobiopsy", class: 'form-control' %>
                  </div>
                  <div class="field">
                    <%= f.input :nonild, collection: [ 0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100], label: "%Non-ILD", class: 'form-control' %>
                  </div>
                  <div class="field">
                    <%= f.input :ipfpatients, collection: [ 0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100], label: "%IPF", class: 'form-control' %>
                  </div>
                  <div class="field">
                    <%= f.input :hppatients, collection: [ 0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100], label: "%Hypersensitivity pneumonitis", class: 'form-control' %>
                  </div>
                  <div class="field">
                    <%= f.input :sarcoidpatients, collection: [0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100], label: "%Sarcoidosis", class: 'form-control' %>
                  </div>
                  <div class="field">
                    <%= f.input :iippatients, collection: [ 0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100], label: "%Non-IPF IIP", class: 'form-control' %>
                  </div>
                  <div class="field">
                    <%= f.input :ctdpatients, collection: [ 0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100], label: "%Connective tissue disease related ILD", class: 'form-control' %>
                  </div>
                  <div class="field">
                    <%= f.input :unclasspatients, collection: [ 0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100], label: "%Unclassifiable ILD", class: 'form-control' %>
                  </div>
                  <div class="field">
                    <%= f.input :other, collection: [ 0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100], label: "%Other (select 0 if none)", class: 'form-control' %>
                  </div>
                  <div class="field">
                    <%= f.submit "Submit your data", class: "btn btn-primary SubmitData" %></h3>
                  </div>
            </div>
          </div>
        </div>


    <% end %>
  </div>
</div>
