
<div class="row">
  <div class = "col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
    <div class = "Nation">


        <div class="f32">
          <div class="page-header">
            <h2><span class="flag <%= @iso %>"></span><%= @nation %></h2>
          </div>
        </div>



        <div class = "NationDetails">
          <ul>
            <li>
              Number of respondents: <%= @user_count_country %>
            </li>
            <li>
              MDT participants (given as median number of each per MDT):
            </li>
          </ul>
        </div>
        <div class = "NationComponents">

          <ul>
            <% unless @arr_phys.blank? %>
            <li><%= image_tag "Physician.png", :style => "width:100px; height:auto;" %><br/>
              <%= median(@arr_phys).ceil %><br/>
              <small><%= my_pluralize(median(@arr_phys).ceil, "Physician") %></small>
            </li>
            <% end %>


            <% unless @arr_rads.blank? %>
            <li><%= image_tag "Radiologist.png", :style => "width:100px; height:auto;" %><br/>
              <%= median(@arr_rads).ceil  %><br/>
              <small><%= my_pluralize(median(@arr_rads).ceil, "Radiologist") %></small>
            </li>
            <% end %>


            <% unless @arr_paths.blank? %>
            <li><%= image_tag "Pathologist.png", :style => "width:100px; height:auto;" %><br/>
              <%= median(@arr_paths).ceil %><br/>
              <small><%= my_pluralize(median(@arr_paths).ceil, "Pathologist") %></small>
            </li>
            <% end %>

            <% unless @arr_rheum.blank? %>
            <li><%= image_tag "Physician.png", :style => "width:100px; height:auto;" %><br/>
              <%= median(@arr_rheum).ceil %><br/>
              <small><%= my_pluralize(median(@arr_rheum).ceil, "Rheumatologist") %></small>
            </li>
            <% end %>
          </ul>
        </div>

        <div class = "DataContainer">
          <div id="container-practices"></div>
        </div>

        <div class = "DataContainer">
          <div id="container-Institution"></div>
        </div>

        <div class = "DataContainer">
          <div id="container-biopsy"></div>
        </div>

    </div>
  </div>
</div>

<script>

  $(document).ready(function () {

    var data = <%=raw @nation_institutions %>


    // Institutions
    $('#container-Institution').highcharts({
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
      },
      title: {
        useHTML: true,
        text : '<div style = "margin:10px 0px; font-size: 0.8em;">Categories of institution</div>'
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: false
          },
          showInLegend: true
        }
      },
      credits: {
        enabled: false
      },
      exporting: {
        enabled: false
      },

      legend: {
        enabled: false
      },

      series: [{
        name: 'Proportion',
        colorByPoint: true,
        data: data
      }]
    });





        // practices


    var data = <%=raw @nation_practices %>;

    data.forEach(function(obj) {
      if(obj.name == "1"){
        obj.name = "I make the diagnosis myself with the aid of diagnostic guidelines"
      } else if(obj.name == "2"){
        obj.name = "I make the diagnosis via a face-to-face MDT discussion"
      } else {
        obj.name = "If IPF is being considered I/we refer to an expert/academic ILD centre"
      }
      obj = JSON.stringify([obj]);
    });





    // Create the chart
    $('#container-practices').highcharts({
      chart: {
        type: 'column'
      },
      title : {
        useHTML: true,
        text : '<div style = "margin:40px 0px; font-size: 0.8em;">Diagnostic approach for IPF (hover over columns to see data)</div>'
      },
      subtitle: {
        text: ''
      },
      xAxis: {
          categories: [
            '',
            '',
            ''
          ],
          crosshair: true
      },
      yAxis: {
        title: {
          text: 'Answers'
        }

      },
      credits: {
        enabled: false
      },
      legend: {
        enabled: false
      },
      exporting: {
        enabled: false
      },
      plotOptions: {
        series: {
          borderWidth: 0,
          dataLabels: {
            enabled: true,
            format: '{point.y:f}'
          }
        }
      },

      tooltip: {
        headerFormat: '<span style="font-size:11px">Response</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:f}</b> Members<br/>'
      },

      series: [{
        name: "Topic",
        colorByPoint: true,
        data: data
      }]
    })


    // practices


    var data = <%=raw @nation_biopsy %>;




    // Create the chart
    $('#container-biopsy').highcharts({
      chart: {
        type: 'column'
      },
      title : {
        useHTML: true,
        text : '<div style = "margin:40px 0px; font-size: 0.8em;">Mean biopsy rate by institution type</div>'
      },
      subtitle: {
        text: ''
      },
      xAxis: {
        type: 'category',
        crosshair: true
      },
      yAxis: {
        title: {
          text: 'Biopsy rate'
        }

      },
      credits: {
        enabled: false
      },
      legend: {
        enabled: false
      },
      exporting: {
        enabled: false
      },
      plotOptions: {
        series: {
          borderWidth: 0,
          dataLabels: {
            enabled: true,
            format: '{point.y:f}'
          }
        }
      },

      tooltip: {
        headerFormat: '<span style="font-size:11px">Rate</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:f}</b>% biopsied<br/>'
      },

      series: [{
        name: "Topic",
        colorByPoint: true,
        data: data
      }]
    })




  });


</script>




