


<div class="row">
  <div class = "col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">

    <div class = "UserTally">
      <h4>Member count:<%= @user_count %></h4>
    </div>

    <div class = "MapContainer">
      <div id="container-maps"></div>
    </div>

    <div class = "col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
      <%= simple_form_for(current_user, :url =>  nation_user_path(current_user), :method => :post) do |f| %>
            <%= f.input :nation, collection: @user_country_array, label: "Select a country to view data on (only countries represented are listed)", class: 'form-control' %>
            <%= f.submit "Submit", class: "btn btn-primary" %></h3>
      <% end %>
    </div>





    <div class = "MapContainer">
      <div id="container"></div>
    </div>
  </div>
</div>


<script>

    $(document).ready(function () {

        var data =  <%= raw @user_json %>



              // Initiate the chart
              $('#container-maps').highcharts('Map', {

                title : {
                  useHTML: true,
                  text : '<div style = "margin-bottom:40px; font-size: 0.8em;">Members by country (double click to zoom)</div>'
                },

                mapNavigation: {
                  enabled: true,
                  enableDoubleClickZoomTo: true
                },

                credits: {
                  enabled: false
                },

                exporting: {
                  enabled: false
                },

                legend: {
                  enabled: false
                },



                colorAxis: {
                  min: 1,
                  max: 1000,
                  type: 'logarithmic'
                },

                series : [{
                  data : data,
                  mapData: Highcharts.maps['custom/world'],
                  joinBy: ['iso-a2', 'code'],
                  name: 'Number of members',
                  states: {
                    hover: {
                      color: '#BADA55'
                    }
                  },
                  tooltip: {
                    valueSuffix: ''
                  }
                }]
              });


    });




    $(document).ready(function () {

      Highcharts.setOptions({
        colors: ['#89bced', '#7cb5ec','#6fa2d4','#6390bc']
      });

      var data = <%=raw @sectiona %>;


      console.log(data)


      // Create the chart
      $('#container').highcharts({
        chart: {
          type: 'column'
        },
        title : {
          useHTML: true,
          text : '<div style = "margin:40px 0px; font-size: 0.8em;">Diagnostic approach for IPF</div>'
        },
        subtitle: {
          text: ''
        },
        xAxis: {
          categories: [
            'I make the diagnosis myself with the aid of diagnostic guidelines',
            'I make the diagnosis via a face-to-face MDT discussion',
            'If IPF is being considered I/we refer to an expert/academic ILD centre',
          ],
          crosshair: true
        },
        yAxis: {
          title: {
            text: 'Answers'
          }

        },
        credits: {
          enabled: false
        },
        legend: {
          enabled: false
        },
        exporting: {
          enabled: false
        },
        plotOptions: {
          series: {
            borderWidth: 0,
            dataLabels: {
              enabled: true,
              format: '{point.y:f}'
            }
          }
        },

        tooltip: {
          headerFormat: '<span style="font-size:11px">Response</span><br>',
          pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:f}</b> Members<br/>'
        },

        series: [{
          name: "Topic",
          colorByPoint: true,
          data: data
        }]
      })
    });


</script>