


<div class="row">
  <div class = "col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
    <div class = "UserTally">
      Current Membership:<%= @user_count %>
    </div>

    <div class = "MapContainer">
      <div id="container-maps"></div>
    </div>


    <div class = "col-lg-6 col-lg-offset-3 col-md-6col-md-offset-3 col-sm-12 col-xs-12">
        <div class = "UserInputs">
              <div class = "Label">MDT frequency</div>
              <%= simple_form_for(@user, :url =>  freq_users_path, :method => :post, html: { class: "form-inline"} ) do |f| %>
                  <%= f.input :country, as: :country, label: false,  class: "form-control"%>
                  <%= f.submit "Submit", class: "btn btn-primary" %>
              <% end %>

              <div class = "Label">New ILD cases per month</div>
              <%= simple_form_for(@user, :url =>  ild_users_path, :method => :post, html: { class: "form-inline"} ) do |f| %>
                  <%= f.input :country, as: :country, label: false,  class: "form-control"%>
                  <%= f.submit "Submit", class: "btn btn-primary" %>
              <% end %>

              <div class = "Label">New cases of IPF per month</div>
              <%= simple_form_for(@user, :url =>  ipf_users_path, :method => :post, html: { class: "form-inline"} ) do |f| %>
                  <%= f.input :country, as: :country, label: false,  class: "form-control"%>
                  <%= f.submit "Submit", class: "btn btn-primary" %>
              <% end %>

              <div class = "Label">Average MDT break down by diagnosis</div>
              <%= simple_form_for(@user, :url =>  break_users_path, :method => :post, html: { class: "form-inline"} ) do |f| %>
                    <%= f.input :country, as: :country, label: false,  class: "form-control"%>
                    <%= f.submit "Submit", class: "btn btn-primary" %>
              <% end %>
        </div>
    </div>

  </div>
</div>



<script>

    $(document).ready(function () {

        var data =  <%= raw @user_json %>

                $('#container-maps').highcharts('Map', {

                    title: {
                        text: ''
                    },

                    legend: {
                        enabled: false,
                        title: {
                            text: 'Breathe Members',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                            }
                        }
                    },

                    credits: {
                        enabled: false
                    },

                    exporting: {
                        enabled: false
                    },

                    mapNavigation: {
                        enabled: true,
                        buttonOptions: {
                            verticalAlign: 'bottom'
                        }
                    },

                    tooltip: {
                        backgroundColor: 'none',
                        borderWidth: 0,
                        shadow: false,
                        useHTML: true,
                        padding: 0,
                        pointFormat: '<span class="f32"><span class="flag {point.flag}"></span></span>'
                        + ' {point.name}: <b>{point.value}</b>',
                        positioner: function () {
                            return { x: 100, y: 250 };
                        }
                    },

                    colorAxis: {
                        min: 1,
                        max: 1000,
                        type: 'linear'
                    },

                    series : [{
                        data : data,
                        mapData: Highcharts.maps['custom/world'],
                        joinBy: ['iso-a2', 'code'],
                        showInLegend: false,
                        name: 'Membership',
                        states: {
                            hover: {
                                color: '#BADA55'
                            }
                        }
                    }]
                });

    });


</script>