<div class = "NavBarRestraint">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand Logo" href="#">The Global ILD Project</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if member_signed_in? %>
              <% if current_user.admin == "true" && current_user.member.email == "slfwalsh@gmail.com" %>
                  <li class="Admin">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><%=link_to "IP data", admin_users_path %></li>
                      <li><%=link_to "Email data", census_users_path %></li>
                    </ul>
                  </li>
              <% end %>
              <% if current_user.user_complete %>
                <li><%=link_to "View network", network_user_path(current_user) %></li>
                <li><%=link_to "My MDT", user_path(current_user) %></li>
              <% end %>
              <li><%=link_to "Log out", destroy_member_session_path, method: "delete"%></li>
          <% end %>


        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>